<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConfigPath" value=".\Configuration"/>
    <add key="HelpFilePath" value=".\Help\CIMET_Help.chm"/>
    <add key="DefaultDirectoryPath" value="..\CIMET_UserFiles"/>
    <add key="Security" value="False"/>
    <add key="TreatReferenceToNonexistingElementAsError" value="True"/>
  </appSettings>  
</configuration>